#textBox {
    background-color: white;
    border: solid 1px black;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Square {
    margin-top: 10px;
}
